 /*
  *头部样式
  */
.header_wrap{height:100px;width:100%;}
.header_wrap .content{height: 60px;width: 80%;margin:20px 10%;border-bottom:1px solid #0067B3;position: relative;}
.head_introduce{font-size:22px;font-family:monospace;color:green;position: absolute;top: 20px;}













/*
 *尾部样式
 */
.footer_wrap{height:100px;width:100%;}