body{padding: 0px;margin: 0px;background-color:#F5F5D5;}
a{text-decoration: none;}

.content_wrap{width:80%;margin:20px 10%;}

.switch_article{padding: 10px;}
.switch_article > a{color:green;}
.switch_article .previous{float:left;}
.switch_article .next{float:right;}

.list_content ul li{list-style-image:url('/images/li_arrow.gif');padding:3px;}
