<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/include.css">
		<link rel="stylesheet" type="text/css" href="/css/post.css">
	</head>
	<body>
		{% include header.html %}

		<div class="content_wrap">
			<div style="margin-left:30px;border-bottom:1px solid #0067B3;">
					<h2>{{ page.title }}
						<a href="{{ site.url }}" style="float:right;margin-right:10px;">
							<img src="/images/home.png" style="width:30px;height:30px;" title="首页">
						</a></h2>
					
			</div>
			{{ content }}	

			<div class="switch_article">
				{% if page.previous %}
					<a href="{{ page.previous.url }}" class="previous" title="{{ page.previous.title }}">&lt&lt&lt上一篇</a>
				{% else %}
					<a href="javascript:void(0)" class="previous">没有更早文章</a>
				{% endif %}

				{% if page.next %}
					<a href="{{ page.next.url }}" class="next" title="{{ page.next.title }}">下一篇&gt&gt&gt</a>
				{% else %}
					<a href="javascript:void(0)" class="next">没有更新文章</a>
				{% endif %}
			</div>
		</div>

		{% include footer.html %}
	</body>
</html>
